repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/ambv/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.13

  - repo: https://github.com/timothycrosley/isort
    rev: 6.1.0
    hooks:
      - id: isort
        args: [ "--profile", "black", "--filter-files" ]
